@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1622099330140-69125ac0d6a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    background-color: #e5e5e5;
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.row {
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.col-header {
    width: 150px;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 20px;
    padding: 0.8rem 1rem;
    color: #fff;
}

.item {
    width: 150px;
    height: 66px;
    border: 1px solid #04103f;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 20px;
    background: rgba(247, 246, 247, 0.96);
    padding: 0.8rem 1rem;
    color: #f60a0a;
    text-align: center;
    cursor: grab;
}

.item:active {
    cursor: grabbing;
}

.placeholder {
    width: 150px;
    height: 66px;
}

.start {
    display: flex;
    justify-content: center;
    /*background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);*/
    background-color: #68e0cf;
    border: 1px solid #04103f;
}

.progress {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #68e0cf 0%, #209cff 100%);
    border: 1px solid #04103f;
}

.done {
    display: flex;
    justify-content: center;
    background-color: #209cff;
    /*background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);*/
    border: 1px solid #04103f;
}

.hold {
    border: 3px solid #8ed7ed;

}

.hide {
    display: none;
}

.hovered {
    border: 4px #84fab0 dotted;
    border-radius: 20px;
}